
<div class="container">

  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>City</th>
      <th>Country</th>
      <th>Study</th>
      <th>Age</th>
      <th>Operation</th>
    </tr>
    <ng-container *ngFor="let result of tabledata;let i=index" >
    <tr   [dndDraggable]="result"  dndEffectAllowed="copy">
      <td>{{result.id}}</td>
      <td>{{result.name}}</td>
      <td>{{result.city}}</td>
      <td>{{result.country}}</td>
      <td>{{result.study}}</td>
      <td>{{result.age}}</td>
      <td><button class="btn btn-light" (click)="openModal('addSection')">Update</button></td>
    </tr>

  </ng-container>
  </table>
  <div id="addSection" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title oa-gry">Section Title</h5>
          </div>
          <div class="modal-body">
            <div class="bg-light">
            <table class="table table-striped">
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>City</th>
                <th>Country</th>
                <th>Study</th>
                <th>Age</th>
              </tr>
              <ng-container *ngFor="let result of tabledata;let i=index" >
              <tr   [dndDraggable]="result"  dndEffectAllowed="copy">
                <td>{{result.id}}</td>
                <td>{{result.name}}</td>
                <td>{{result.city}}</td>
                <td>{{result.country}}</td>
                <td>{{result.study}}</td>
                <td>{{result.age}}</td>
              </tr>
          
            </ng-container>
            </table>
          </div>

          <div class="mt-4 bg-light">
            <table class="table table-striped">
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>City</th>
                <th>Country</th>
                <th>Study</th>
                <th>Age</th>
              </tr>
              <tr  dndDropzone                            
              (dndDrop)="onDrop2($event)" >
                <td>{{details.id}}</td>
                
                <td>{{details.name}}</td>
                <td>{{details.city}}</td>
                <td>{{details.country}}</td>
                <td>{{details.study}}</td>
                <td>{{details.age}}</td>
              </tr>
            </table>
          </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn add_sec_cancel main_btn_a oa-bg-grdnt-lr"
                  data-dismiss="modal">Cancel</button>
              <button type="button" (click)="updatetable(details)"  class="btn add_sec_save main_btn_a oa-bg-grdnt-lr"
                 >Save</button>
          </div>
      </div>
  </div>
</div>
</div>

