/* You can add global styles to this file, and also import other style files */

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.wrapper{
    position: relative;
    height: auto;
    overflow: hidden;
}


html, body { 
    height: 100%;
    font-size: 14px;
    font-family:Poppins-Regular;
 }


/* common color codes */

img{
    width:100%;
}

/* light blue color */
.oa-ltblue{
    color : #2D93CF !important;
}
/* dark blue color */
.oa-drblue{
    color:#1C56AE !important;
}
/* white color */
.oa-wht{
    color:#FFFFFF !important;
}
/* black color */
.oa-blk{
    color: #000000 !important;
}
/* grey color */
.oa-gry{
    color : #989898 !important;
}
/* background light blue */
.oa-bg-lblue{
    background-color: #2D93CF !important;
}
/* background dark blue */
.oa-bg-dblue{
    background-color: #1C56AE !important;
}
/* background gradien blue left to right */
.oa-bg-grdnt-lr{
    background: linear-gradient(to right,#2D93CF ,#1C56AE) !important;
}
/* background gradien blue right to left */
.oa-bg-grdnt-rl{
    background: linear-gradient(to left,#2D93CF ,#1C56AE) !important;
}
/* background gradien blue top to bottom */
.oa-bg-grdnt-tb{
    background: linear-gradient(to bottom,#2D93CF ,#1C56AE) !important;
}
/* background gradien blue bottom to top */
.oa-bg-grdnt-bt{
    background: linear-gradient(to top,#2D93CF ,#1C56AE) !important;
}

/* anchor button */
.main_btn_a{
    display: inline-block;
    background:inherit;
    padding: 0 38px;
    color: #fff;
    /* font-family: montserrat,sans-serif; */
    font-size: 13px;
    font-weight: 600;
    border-radius: 6px;
    line-height: 40px;
    text-decoration: none !important;
    outline: none!important;
    text-align: center;
    cursor: pointer;
    transition: all .3s ease 0s;
}
.main_btn_a:hover{
    color: #fff;
}

.ngx-pagination a, .ngx-pagination button{
    outline: none;
}

@font-face{
    font-family:Poppins-Bold;
    /* / src:url(/assets/fonts/Poppins-Bold.ttf); / */
    src:url(./assets/fonts/Poppins-Bold.ttf);

}


@font-face{
    font-family:Poppins-Light;
    /* / src:url(/assets/fonts/Poppins-Light.ttf); / */
    src:url(./assets/fonts/Poppins-Light.ttf);
}


@font-face{
    font-family:Poppins-Medium;
    /* / src:url(/assets/fonts/Poppins-Medium.ttf); / */

    src:url(./assets/fonts/Poppins-Medium.ttf);

}


@font-face{
    font-family:Poppins-SemiBold;
    /* / src:url(/assets/fonts/Poppins-SemiBold.ttf); / */

    src:url(./assets/fonts/Poppins-SemiBold.ttf);

}

@font-face{
    font-family:Poppins-Regular;
    /* / src:url(/assets/fonts/Poppins-Regular.ttf); / */
   
    src:url(./assets/fonts/Poppins-Regular.ttf);
   
}